@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.JSInterop
@using Simetric.Services
@using Simetric.Extensions
@using Simetric.Data
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject EmisorOnboardingService EmisorOnboardingService
@inject SelectedAppServiceStateService SelectedAppServiceState
@inject IDbContextFactory<AppDbContext> DbFactory
@implements IDisposable

<div class="bo-sidebar">  
    <!-- Brand Header -->
    <div class="bo-brand">
        <img src="/images/backoffice/NumericaBackoffice.png" alt="Numerica Backoffice" class="bo-brand-logo-img-full" />
    </div>

    <!-- Navigation Tree -->
    <nav class="bo-nav-menu">
        <div class="bo-nav-item">
            <NavLink class="bo-menu-link" href="/portal-servicios" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                <span class="bo-menu-icon"><i class="ri-apps-2-line"></i></span>
                <span class="bo-menu-text">Cambiar servicio</span>
            </NavLink>
        </div>

        @if (esVendedor)
        {
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/ventas" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-hand-coin-line"></i></span>
                    <span class="bo-menu-text">Mis Ventas</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/vendedores" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-qr-code-line"></i></span>
                    <span class="bo-menu-text">Mi QR y Enlace</span>
                </NavLink>
            </div>
        }
        else if (esContador)
        {
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/mis-facturas-backoffice" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-file-list-3-line"></i></span>
                    <span class="bo-menu-text">Mis Facturas</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/mis-notas-credito-backoffice" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-arrow-go-back-line"></i></span>
                    <span class="bo-menu-text">Mis Notas de Crédito</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/cobros" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-bank-card-line"></i></span>
                    <span class="bo-menu-text">Cobrar transferencias</span>
                    @if (solicitudesDocumentosPendientes > 0)
                    {
                        <span class="bo-menu-alert" title="Solicitudes de documentos pendientes">
                            @(solicitudesDocumentosPendientes > 9 ? "9+" : solicitudesDocumentosPendientes)
                        </span>
                    }
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/perfil" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-user-settings-line"></i></span>
                    <span class="bo-menu-text">Mi perfil</span>
                </NavLink>
            </div>
        }
        else
        {
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-dashboard-3-line"></i></span>
                    <span class="bo-menu-text">Dashboard</span>
                </NavLink>
            </div>

            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/clientes" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-user-line"></i></span>
                    <span class="bo-menu-text">Clientes</span>
                </NavLink>
            </div>

            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/ventas" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-hand-coin-line"></i></span>
                    <span class="bo-menu-text">Ventas</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/vendedores" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-user-star-line"></i></span>
                    <span class="bo-menu-text">Vendedores</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/facturacion" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-file-chart-line"></i></span>
                    <span class="bo-menu-text">Emisor Maestro</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/mis-facturas-backoffice" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-file-list-3-line"></i></span>
                    <span class="bo-menu-text">Mis Facturas BackOffice</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/mis-notas-credito-backoffice" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-arrow-go-back-line"></i></span>
                    <span class="bo-menu-text">Mis Notas de Credito BackOffice</span>
                </NavLink>
            </div>
            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/suscripciones" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-wallet-line"></i></span>
                    <span class="bo-menu-text">Suscripciones</span>
                </NavLink>
            </div>

            <div class="bo-nav-item">
                <NavLink class="bo-menu-link" href="/backoffice/cobros" Match="NavLinkMatch.Prefix" @onclick="NotifyNavigate">
                    <span class="bo-menu-icon"><i class="ri-bank-card-line"></i></span>
                    <span class="bo-menu-text">Cobros</span>
                    @if (solicitudesDocumentosPendientes > 0)
                    {
                        <span class="bo-menu-alert" title="Solicitudes de documentos pendientes">
                            @(solicitudesDocumentosPendientes > 9 ? "9+" : solicitudesDocumentosPendientes)
                        </span>
                    }
                </NavLink>
            </div>

            <div class="bo-nav-item">
                <button type="button" class="bo-menu-button @(reportesOpen ? "is-active" : "")" @onclick="ToggleReportes">
                    <span class="bo-menu-icon"><i class="ri-bar-chart-2-line"></i></span>
                    <span class="bo-menu-text">Reportes</span>
                    <span class="bo-menu-caret"><i class="@(reportesOpen ? "ri-arrow-up-s-line" : "ri-arrow-down-s-line")"></i></span>
                </button>
                @if (reportesOpen)
                {
                    <div class="bo-submenu animate__animated animate__fadeIn">
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/ventas-periodo" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Ventas por periodo</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/ventas-producto" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Ventas por producto</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/ventas-canal" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Ventas por canal</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/clientes-nuevos" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Clientes nuevos</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/licencias-activas" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Licencias activas</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/licencias-vencidas" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Licencias vencidas</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/cobros-pendientes" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Cobros pendientes</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/ingresos-mensuales" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Ingresos mensuales</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/reportes/vendedores" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Reporte vendedores</span>
                        </NavLink>
                    </div>
                }
            </div>

            <!-- Collapsible Configuración -->
            <div class="bo-nav-item">
                <button type="button" class="bo-menu-button @(configuracionOpen ? "is-active" : "")" @onclick="ToggleConfiguracion">
                    <span class="bo-menu-icon"><i class="ri-settings-3-line"></i></span>
                    <span class="bo-menu-text">Configuración</span>
                    <span class="bo-menu-caret"><i class="@(configuracionOpen ? "ri-arrow-up-s-line" : "ri-arrow-down-s-line")"></i></span>
                </button>
                @if (configuracionOpen)
                {
                    <div class="bo-submenu animate__animated animate__fadeIn">
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/configuracion?tab=servicios" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Servicios y Planes</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/clientes/backoffice" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Usuarios Backoffice</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/configuracion?tab=canales" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Canales y Roles</span>
                        </NavLink>
                        <NavLink class="bo-menu-link bo-sub-link" href="/backoffice/perfil" Match="NavLinkMatch.All" @onclick="NotifyNavigate">
                            <span class="bo-menu-text">Mi perfil</span>
                        </NavLink>
                    </div>
                }
            </div>
        }
    </nav>

    <!-- Support Box -->
    <div class="bo-support-card">
        <div class="bo-support-robot">
            <div class="robot-face">
                <span class="robot-antenna"></span>
                <span class="robot-head">
                    <span class="robot-eye"></span>
                    <span class="robot-eye"></span>
                    <span class="robot-mouth"></span>
                </span>
            </div>
        </div>
        <div class="bo-support-text">
            <h4>¿Necesitas ayuda?</h4>
            <p>Nuestro equipo está para apoyarte.</p>
        </div>
        <button type="button" class="bo-support-button" @onclick="OpenSupport">Abrir soporte</button>
    </div>
</div>
@code {
    [Parameter] public EventCallback OnNavigate { get; set; }

    private bool renovacionesOpen;
    private bool reportesOpen;
    private bool configuracionOpen;
    private bool footerMenuOpen;

    private ClaimsPrincipal? user;
    private string userDisplayName = "Usuario Backoffice";
    private string userRoleLabel = "Administrador";
    private string userInitials = "BO";
    private string avatarUrl = "";
    private bool _cerrandoSesion;
    private bool esVendedor;
    private bool esContador;
    private int solicitudesDocumentosPendientes;

    protected override async Task OnInitializedAsync()
    {
        NavManager.LocationChanged += OnLocationChanged;
        CheckUrlPath();

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            var name = user.Identity.Name ?? "Usuario";
            var surname = user.FindFirst(ClaimTypes.Surname)?.Value ?? "";
            userDisplayName = $"{name} {surname}".Trim();

            var role = user.FindFirst("IdTipoUsuario")?.Value ?? user.FindFirst(ClaimTypes.Role)?.Value;
            var tipoCliente = user.FindFirst("TipoCliente")?.Value;
            var idUsuarioStr = user.FindFirst("IdUsuario")?.Value;
            if (int.TryParse(idUsuarioStr, out var idUsuario))
            {
                using var context = await DbFactory.CreateDbContextAsync();
                var dbUser = await context.Usuarios.FindAsync(idUsuario);
                if (dbUser != null)
                {
                    role = dbUser.IdTipoUsuario?.ToString() ?? role;
                    tipoCliente = dbUser.TipoCliente?.ToString() ?? tipoCliente;
                }
            }
            esVendedor = string.Equals(role, "7", StringComparison.OrdinalIgnoreCase) && string.Equals(tipoCliente, "2", StringComparison.OrdinalIgnoreCase);
            esContador = string.Equals(role, "7", StringComparison.OrdinalIgnoreCase) && string.Equals(tipoCliente, "3", StringComparison.OrdinalIgnoreCase);
            userRoleLabel = esVendedor ? "Vendedor" : esContador ? "Cobranzas" : role == "2" ? "Super Admin" : role == "7" ? "Administrador" : "Usuario";

            if (!esVendedor)
            {
                await CargarSolicitudesDocumentosPendientesAsync();
            }

            if (!string.IsNullOrWhiteSpace(userDisplayName))
            {
                var parts = userDisplayName.Split(' ', StringSplitOptions.RemoveEmptyEntries);
                if (parts.Length > 1)
                {
                    userInitials = $"{parts[0][0]}{parts[parts.Length - 1][0]}".ToUpper();
                }
                else if (parts.Length > 0)
                {
                    userInitials = $"{parts[0][0]}".ToUpper();
                }
            }

            avatarUrl = user.FindFirst("AvatarUrl")?.Value ?? "";
        }
    }

    private void ToggleRenovaciones()
    {
        renovacionesOpen = !renovacionesOpen;
    }

    private void ToggleReportes()
    {
        reportesOpen = !reportesOpen;
    }

    private void ToggleConfiguracion()
    {
        configuracionOpen = !configuracionOpen;
    }

    private void ToggleFooterMenu()
    {
        footerMenuOpen = !footerMenuOpen;
    }

    private async Task NotifyNavigate()
    {
        footerMenuOpen = false;
        if (OnNavigate.HasDelegate)
        {
            await OnNavigate.InvokeAsync();
        }
    }

    private void OpenSupport()
    {
        footerMenuOpen = false;
        NavManager.NavigateTo("/soporte");
    }

    private async Task Logout()
    {
        if (_cerrandoSesion) return;
        _cerrandoSesion = true;
        footerMenuOpen = false;
        EmisorOnboardingService.SetRequiredStep(InitialSetupStep.None);

        try
        {
            await JS.InvokeVoidAsync("backOfficeLogoutAndRedirect");
        }
        catch (JSDisconnectedException) { }
        catch (JSException) { }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CheckUrlPath();
        InvokeAsync(StateHasChanged);
    }

    private void CheckUrlPath()
    {
        var relative = NavManager.ToBaseRelativePath(NavManager.Uri);
        if (relative.Contains("backoffice/configuracion", StringComparison.OrdinalIgnoreCase) ||
            relative.Contains("backoffice/clientes/internal", StringComparison.OrdinalIgnoreCase) ||
            relative.Contains("backoffice/perfil", StringComparison.OrdinalIgnoreCase))
        {
            configuracionOpen = true;
        }

        if (relative.Contains("backoffice/reportes", StringComparison.OrdinalIgnoreCase))
        {
            reportesOpen = true;
        }
    }

    private async Task CargarSolicitudesDocumentosPendientesAsync()
    {
        try
        {
            await using var context = await DbFactory.CreateDbContextAsync();
            solicitudesDocumentosPendientes = await context.ReporteVentasBackOffice
                .AsNoTracking()
                .CountAsync(v =>
                    v.Estado == "pendiente" &&
                    v.Producto == "e-fact" &&
                    v.Canal != null &&
                    v.Canal.Contains("Transferencia Web") &&
                    v.Observacion != null &&
                    v.Observacion.Contains("[CompraDocs:"));
        }
        catch
        {
            solicitudesDocumentosPendientes = 0;
        }
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= OnLocationChanged;
    }
}
